@using Microsoft.AspNetCore.Html
@model AnnouncementsForum.Models.PaginAnnoucmentModel
@{
    ViewData["Title"] = "Annoucments";
    var previous = Model.Page - 1;
    var next = Model.Page + 1;
    
}

<h1>Announcements</h1>

<form asp-controller="Announcements" asp-action="AnnoucmentsPagination">
    <div class="p-5">
        <div class="container">
            <div class="card">
                <div class="p-3 row">
                     <div class="col">
                                <input class="form-control" list="datalistOptions" id="exampleDataList" name="search" placeholder="Search for announcements">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</form>
<div class="album bg-light">
    <div class="container">
        <div class="row">
@foreach (var annoucment in Model.Data)
{
    var desc = new HtmlString(annoucment.Description);
    <div class="col-md-4">
        <a class="d-none" id="_@annoucment.Id" asp-area="" asp-controller="Announcements" asp-action="Details" asp-route-id="@annoucment.Id"></a>
        <div class="card mb-4 shadow-sm" data-id="@annoucment.Id">
            <img
                class="card-img-top"
                width="100%"
                height="225"
                src="{{ asset($offer->getCoverImagePath()) }}"
                style="object-fit: cover;"/>
            <div class="card-body">
                <p class="card-title">
                    <b>@annoucment.Title</b>
                </p>
                <p class="card-text">
                    @desc
                </p>
                <div
                    class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{{ route('offer-show', $offer ) }}"
                           type="button"
                           class="btn btn-sm btn-outline-secondary">
                            Show Annoucment
                        </a>
                    </div>
                    <small class="text-muted">@annoucment.CreateDate</small>
                </div>
            </div>
        </div>
    </div>
}
        </div>
    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @(Model.Page == 0? "disabled" : "")">
            <a class="page-link" asp-controller="Announcements" asp-action="AnnoucmentsPagination" asp-route-id="@previous" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for(var pageCount=0;pageCount<=Model.Total;pageCount++)
        {
            var pageDisplay = pageCount + 1;
            <li class="page-item"><a class="page-link" asp-controller="Announcements" asp-action="AnnoucmentsPagination" asp-route-id="@pageCount">@pageDisplay</a></li>
        }
        <li class="page-item @(Model.Page == Model.Total? "disabled" : "")">
            <a class="page-link" asp-controller="Announcements" asp-action="AnnoucmentsPagination" asp-route-id="@next" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<script type="text/javascript" on-content-loaded="true">
    document.querySelectorAll('div.goToDetails').forEach(element => {
        element.onclick = (e) => {
            e.preventDefault();
            document.querySelector('a#_' + e.target.offsetParent.dataset.id).click();
        }
    })
</script>